# Project-specific files
local_config.py
set_env_variables.sh

# Jetbrains IntelliJ (and derivatives)
.idea/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc