{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
    <div class="nav-buttons">
        <div class="nav-buttons">
            <a href="/new" class="btn btn-lg btn-success" role="button">Add Opportunity</a>
        </div>
    </div>
    <div class="page-title"><h2>Existing Learning Opportunities</h2></div>
    <div class="opportunity-table">
        <table class="table">
            <tr>
                <th>Time Requested</th>
                <th>Requested By</th>
                <th>Learning Opportunity</th>
                <th>Expiry Time</th>
                <th>Location</th>
                <th>Status</th>
                <th>Accepted By</th>
            </tr>
            <!-- Style for released but unrequested job - use class .info -->
            <tr class="info">
                <td>13/09/2015 14:04</td>
                <td>Dr J Bloggs</td>
                <td>Urethral Catheter</td>
                <td>45m</td>
                <td>Ward 107</td>
                <td>Offered</td>
                <td></td>
            </tr>
            <!-- Style for accepted job - use class .success -->
            <tr class="success">
                <td>13/09/2015 13:30</td>
                <td>Dr S Cusack</td>
                <td>Intravenous Cannnula</td>
                <td>16m</td>
                <td>Ward 107</td>
                <td>Accepted</td>
                <td>Terry Wogan</td>
            </tr>
            <!-- Style for expired job - use class .active - it looks grey -->
            <tr class="active">
                <td>13/09/2015 11:04</td>
                <td>Dr H Morgan</td>
                <td>Venepuncture</td>
                <td>Time Elapsed</td>
                <td>Ward 107</td>
                <td>Expired</td>
                <td></td>
            </tr>
            {% for op in ops|sort(attribute='time_sent', reverse=True) %}
                <tr class="{{ op['class']}}">
                    <td>{{op["time"]}}</td>
                    <td>{{op["doctor"]}}</td>
                    <td>{{op["procedure"]}}</td>
                    <td>
                        {% if op["remaining_mins"] > 0 %}
                            {{op["remaining_mins"]}}
                        {% else %}
                            Time elapsed
                        {% endif %}
                    </td>
                    <td>{{op["location"]}}</td>
                    <td>{{op["status"]}}</td>
                    <td>{{op["student"]}}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}