{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
    <div class="page-title"><h1>Add Learning Opportunity</h1></div>
    <div class="nav-buttons"><button class="btn btn-info btn-lg">Back To List</button></div>
    <div class="opportunity-input-form form-group">
        <form>
            <div class="form-group">
                <label for="doctor">Doctor Offering Supervision</label>
                <select class="form-control" id="doctor">
                    <option value="jporter">Dr J Porter</option>
                    <option value="scusack">Dr S Cusack</option>
                    <option value="twilson">Dr T Wilson</option>
                    <option value="sbarr">Dr S Barr</option>
                </select>
            </div>
            <div class="form-group">
                <label for="procedure">Select Procedure</label>
                <select class="form-control" id="procedure">
                    <option value="venepuncture">Venepuncture</option>
                    <option value="cannula">Venous Cannula</option>
                    <option value="catheter">Urethral Catheter</option>
                </select>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <select class="form-control" id="location">
                    <option value="101">Ward 101</option>
                    <option value="102">Ward 102</option>
                    <option value="103">Ward 103</option>
                </select>
            </div>
            <div class="form-group">
                <label for="timelimit">Time Limit</label>
                <select class="form-control" id="timelimit">
                    <option value="20">Within 20 mins</option>
                    <option value="40">Within 40 mins</option>
                    <option value="60">Within 60 mins</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Opportunity</button>
        </form>
    </div>

{% endblock %}