{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
    <div class="nav-buttons">
        <a href="/" class="btn btn btn-danger" role="button">Cancel (Back To List)</a>
    </div>
    <div class="page-title"><h2>Add Learning Opportunity</h2></div>
    <div class="opportunity-input-form">
        <form class="form" action="/new" method="post" onsubmit="return confirm('Are you sure you wish to send this message to all students?');">
            <div class="form-group">
                <label for="doctor">Doctor Offering Supervision</label>
                <select class="form-control" id="doctor" name="doctor">
                    {% for d in doctors %}
                        <option value="{{d}}">{{d}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="procedure">Select Procedure</label>
                <select class="form-control" id="procedure" name="procedure">
                    {% for p in procedures %}
                        <option value="{{p}}">{{p}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <select class="form-control" id="location" name="location">
                    {% for l in locations %}
                        <option value="{{l}}">{{l}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="duration">Time Limit</label>
                <select class="form-control" id="duration" name="duration">
                    {% for t in timeframes %}
                        <option value="{{t}}">{{t}} mins</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Add Opportunity</button>
        </form>
    </div>
</div>

{% endblock %}